{% include "partials/htmlhead.njk" %}

<header class="row">
  {# <nav>
    {% navlist collections.all | eleventyNavigation, page, 1 %}
  </nav> #}
  <div>
    <a href="/" class="logo">Benjamin H Boruff</a>
    <a href="/" class="button">home</a>
    <a href="/about" class="button">about</a>
    <a href="/projects" class="button">projects</a>
  </div>

</header>

<main>

  <div class="row">
    <span class="col-sm-4"></span>
    <img class="hero col-sm-4" src="/images/hero.jpg" alt="11ty starter">
    <span class="col-sm-4"></span>
  </div>

  {% block content %}

  <div class="row">
    <span class="col-sm-3"></span>
    <h1 class="col-sm-6">{{ title }}</h1>
    <span class="col-sm-3"></span>
  </div>
  
  <div class="row">
    <span class="col-sm-3"></span>
    <div class="col-sm-6">

    {{ content | safe}}

    {% include "partials/pagelist.njk" %}

    </div>
    <span class="col-sm-3"></span>
  </div>

  {% endblock %}

</main>

<footer class="sticky">
  <div>
    {% navlist collections.all | eleventyNavigation, page, 2 %}  
  </div>
</footer>

{% include "partials/htmlfoot.njk" %}
