{% extends "page.njk" %}

{% block content %}

<h1> {{ title }} </h1>

{% if date %} <p class="time"><time datetime="{{date }}">{{ date }}</time></p>{% endif %}

<p class="words"> {{ content | wordcount }} words</p>

{{ content | safe }}

{% set nextProject = collections.projects | getNextCollectionItem(page) %}
{% if nextProject %}<p>Next Project: <a href="{{ nextProject.url}}">{{ nextProject.data.title }}</a></p>{% endif %} 

{% set previousProject = collections.projects | getPreviousCollectionItem(page) %}
{% if previousProject %}<p>Previous Project: <a href="{{ previousProject.url}}">{{ previousProject.data.title }}</a></p>{% endif %} 


{% endblock %}