{% if pagelist %}
<aside>
    {%- for project in pagelist -%}
    <article>

        <h2><a href="{{ project.url }}">{{ project.data.title }}</a></h2>

        {% if project.data.date %} <p class="time"><time datetime={{ project.data.date | dateymd }}>{{ project.data.date | datefriendly }}</time></p>{% endif %}

        <p>{{ project.data.description }}</p>

    </article>
    {%- endfor -%}
</aside>
{% endif %}

{% if pagination.href.previous or pagination.href.next %}
<nav class="prevnext">
    <div class="row">
        <span class="col-sm-4"></span>

    {% if pagination.href.previous %}
        <a class="button navtext col-sm-4" href="{{ pagination.href.previous }}">previous</a>
    {% endif %}

    {% if pagination.href.next %}
        <a class="button navtext col-sm-4" href="{{ pagination.href.next }}">next</a>
    {% endif %}

        <span class="col-sm-4"></span>
    </div>
</nav>
{% endif %}